.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.imageContainer {
    text-align: center;
    padding: 8px;
}

.imageContainer img {
    max-width: 100%;
    height: auto;
    border-radius: 24px;
}


.dotsContainer {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 24px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #151616;
    transition: background-color 0.3s;
    background-color: #212121;
}

.dot.active {
    background-color: #009c70; /* или цвет, который соответствует дизайну */
}


.productsContainer {
    background-color: #212121;
    padding: 32px 24px;
    border-radius: 24px;
    width: 100%;
    margin-bottom: 10px;
}


.categoryName {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #212121;
    margin-bottom: 100px;
    display: block;
    margin-bottom: 16px;
}

.productsList {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    background-color: #212121;
    padding-bottom: 20px;
}

.productItem {
    border-radius: 16px;
    width: calc(50% - 8px);
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #212121;
}

.productItem img {
    max-width: 100%;
    border-radius: 12px;
    margin-bottom: 12px;
}


.productItem span {
    margin-bottom: 6px;
    color: #fff;
    background-color: #212121;
}


.productName {
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    width: 100%;
}

.productPrice {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    width: 100%;
}


.productInfo {
    background-color: #009c70;
    padding: 8px;
    width: 100%;
    text-align: center;
    color: #fff;
    border-radius: 40px;
}


.separator {
  border: none;
  border-top: 1px solid #444343;
  margin: 12px 0;
  margin-bottom: 30px;
}



.feedbackContainer {
    background-color: #212121;
    padding: 32px 24px;
    border-radius: 24px;
    width: 100%;
    margin-bottom: 40px;
}


.feedbackTitle {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #212121;
    margin-bottom: 16px;
    display: block;
    margin-bottom: 16px;
}


.feedback {
    background-color: #212121;
    margin-bottom: 30px;
}

.feedbackDate {
    color: #444343;
    margin-bottom: 8px;
    font-size: 12px;
    background-color: #212121;
}


.feedbackText {
    margin-bottom: 15px;
    font-size: 16px;
    color: #ffffff;
    background-color: #212121;
}

.feedbackUser {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #212121;
}

.feedbackUserPhoto {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.feedbackUserName {
    font-size: 16px;
    color: #ffffff;
    background-color: #212121;
}



.tabBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #212121;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #333;
    border-radius: 24px 24px 0 0;
    z-index: 1000;
    padding: 30px 60px 40px 60px; /* top right bottom left */
}

/* Отступы для каждой иконки */
.tabBar svg {
    background-color: #212121;
    width: 16px;
    height: 16px;
    fill: white;
    box-sizing: content-box; /* чтобы padding не сжимал иконку */
}