.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.imageContainer {
  overflow: hidden;
}

.dotsContainer {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #212121;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #009c70;
}
