.feedbackContainer {
    background-color: #212121;
    padding: 32px 24px 64px 24px;
    border-radius: 24px;
    width: 100%;
    min-height: 100vh;
    margin-bottom: 30px;
}

.titleWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;
    background-color: #212121;
}

.feedbackTitle {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #212121;
    margin: 0;
}

.numberReviews {
    margin-left: 10px;
    font-size: 13px;
    color: #ffffff;
    background-color: #009c70;
    padding: 5px 16px;
    border-radius: 40px;
    flex-shrink: 0;
    font-weight: bold;
}


.feedbackItems {
    background-color: #212121;
}


.loadMoreWrapper {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.loadMoreButton {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.loadMoreButton:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}


.loadingText {
    text-align: center;
    margin: 20px 0;
    color: #666;
    font-size: 14px;
}

.bottomRef {
    height: 1px;
    background-color: #212121;
}